<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 FiveStones AB. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="FiveStones\Catalog\Api\CategoryRepositoryInterface" type="FiveStones\Catalog\Model\CategoryRepository" />
    <preference for="FiveStones\Catalog\Api\Data\CategorySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
</config>